In [1]:
import pandas as pd
import numpy as np
import ast

df_keywords = pd.read_csv("the-movies-dataset/keywords.csv")
df_movies_metadata = pd.read_csv("the-movies-dataset/movies_metadata.csv")

/Users/romane/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df_keywords = df_keywords[df_keywords.astype(str)['keywords'] != '[]']
df_keywords = df_keywords.set_index('id')
df_keywords

                                                 keywords
id
862     [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
8844    [{'id': 10090, 'name': 'board game'}, {'id': 1...
15602   [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
31357   [{'id': 818, 'name': 'based on novel'}, {'id':...
11862   [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
949     [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
11860   [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
9091    [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
710     [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...
9087    [{'id': 833, 'name': 'white house'}, {'id': 84...
12110   [{'id': 3633, 'name': 'dracula'}, {'id': 11931...
21032   [{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...
10858   [{'id': 840, 'name': 'usa president'}, {'id': ...
1408    [{'id': 911, 'name': 'exotic island'}, {'id': ...
524     [{'id': 383, 'name': 'poker'}, {'id': 726, 'na...
4584    [{'id': 420, 'name': 'bowling'}, {'id': 818, '...
5       [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
9273    [{'id': 409, 'name': 'africa'}, {'id': 1551, '...
11517   [{'id': 380, 'name': 'brother brother relation...
8012    [{'id': 395, 'name': 'gambling'}, {'id': 416, ...
1710    [{'id': 796, 'name': 'police brutality'}, {'id...
9691    [{'id': 271, 'name': 'competition'}, {'id': 44...
12665   [{'id': 7345, 'name': 'dead animal'}, {'id': 1...
451     [{'id': 30, 'name': 'individual'}, {'id': 549,...
16420   [{'id': 497, 'name': 'shakespeare'}, {'id': 93...
9263    [{'id': 1228, 'name': '1970s'}, {'id': 5248, '...
17015   [{'id': 1316, 'name': 'captain'}, {'id': 33384...
902     [{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...
37557   [{'id': 964, 'name': 'servant'}, {'id': 2311, ...
9909    [{'id': 897, 'name': 'rap music'}, {'id': 3436...
...                                                   ...
64197          [{'id': 187056, 'name': 'woman director'}]
100152         [{'id': 187056, 'name': 'woman director'}]
75608   [{'id': 2167, 'name': 'ethologist'}, {'id': 19...
275331  [{'id': 409, 'name': 'africa'}, {'id': 18034, ...
461297  [{'id': 9663, 'name': 'sequel'}, {'id': 156321...
258907  [{'id': 14629, 'name': 'experimental film'}, {...
127762            [{'id': 154802, 'name': 'silent film'}]
52103         [{'id': 10183, 'name': 'independent film'}]
45029   [{'id': 720, 'name': 'helicopter'}, {'id': 146...
36680   [{'id': 310, 'name': 'artificial intelligence'...
222872  [{'id': 1612, 'name': 'spacecraft'}, {'id': 99...
5589    [{'id': 3205, 'name': 'fairy tale'}, {'id': 13...
455661  [{'id': 9673, 'name': 'love'}, {'id': 13130, '...
327237  [{'id': 5565, 'name': 'biography'}, {'id': 102...
84710            [{'id': 208422, 'name': 'paula dupree'}]
39562   [{'id': 2064, 'name': 'overweight'}, {'id': 10...
14008         [{'id': 171803, 'name': 'military school'}]
44330             [{'id': 169590, 'name': 'police raid'}]
49279   [{'id': 10124, 'name': 'laboratory'}, {'id': 1...
44333   [{'id': 2343, 'name': 'magic'}, {'id': 154802,...
49277   [{'id': 154802, 'name': 'silent film'}, {'id':...
49271   [{'id': 11320, 'name': 'tenant'}, {'id': 15480...
14885   [{'id': 3335, 'name': 'halloween'}, {'id': 193...
106807  [{'id': 5970, 'name': 'wrestling'}, {'id': 607...
404604  [{'id': 155794, 'name': 'physical abuse'}, {'i...
84419   [{'id': 9748, 'name': 'revenge'}, {'id': 9826,...
390959            [{'id': 224180, 'name': 'blair witch'}]
289923  [{'id': 616, 'name': 'witch'}, {'id': 2035, 'n...
439050             [{'id': 10703, 'name': 'tragic love'}]
111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...

[31624 rows x 1 columns]

In [3]:
df_genres = pd.concat([df_movies_metadata['id'],df_movies_metadata['genres']], axis = 1)
df_genres = df_genres[df_genres.astype(str)['genres'] != "[]"]
df_genres = df_genres.set_index('id')
df_genres

                                                   genres
id
862     [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
8844    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
15602   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
31357   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11862                      [{'id': 35, 'name': 'Comedy'}]
949     [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
11860   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
45325   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9091    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
710     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
9087    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
12110   [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
21032   [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
10858   [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
1408    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
524     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
4584    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
5       [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
9273    [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
11517   [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
8012    [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
1710    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
9691    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
12665   [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
451     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
16420                       [{'id': 18, 'name': 'Drama'}]
9263    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
17015   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
902     [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
37557   [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
...                                                   ...
36680   [{'id': 99, 'name': 'Documentary'}, {'id': 878...
222872  [{'id': 53, 'name': 'Thriller'}, {'id': 878, '...
257472                [{'id': 99, 'name': 'Documentary'}]
323132                [{'id': 99, 'name': 'Documentary'}]
5589    [{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...
63266   [{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...
45527   [{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...
455661  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
327237                      [{'id': 18, 'name': 'Drama'}]
84710   [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
39562   [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
14008                      [{'id': 35, 'name': 'Comedy'}]
49279   [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
44333                     [{'id': 14, 'name': 'Fantasy'}]
49277   [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
49271   [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
14885   [{'id': 16, 'name': 'Animation'}, {'id': 10751...
49280   [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
106807  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
276895                [{'id': 99, 'name': 'Documentary'}]
404604  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
420346  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
84419   [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
390959  [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
289923                     [{'id': 27, 'name': 'Horror'}]
222848           [{'id': 878, 'name': 'Science Fiction'}]
30840   [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
439050  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
111109                      [{'id': 18, 'name': 'Drama'}]
67758   [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...

[43024 rows x 1 columns]

In [4]:
df_keywords.index = df_keywords.index.map(str)
df_genres.index = df_genres.index.map(str)
df_test = pd.merge(df_keywords, df_genres, left_index=True, right_index=True)

In [5]:
df_test.index = df_test.index.map(int)
df_test.sort_index()
df_test

,keywords,genres
id,,
100,"[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n...","[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam..."
10000,"[{'id': 1253, 'name': 'roommate'}, {'id': 1499...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
10001,"[{'id': 1815, 'name': 'atomic bomb'}, {'id': 2...","[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na..."
100010,"[{'id': 3203, 'name': 'pilot'}, {'id': 3588, '...","[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n..."
100017,"[{'id': 2843, 'name': 'fetishism'}, {'id': 326...","[{'id': 18, 'name': 'Drama'}]"
10002,"[{'id': 212, 'name': 'london england'}, {'id':...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
100024,"[{'id': 222018, 'name': 'dangerous side effect...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam..."
10003,"[{'id': 220, 'name': 'berlin'}, {'id': 2139, '...","[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n..."
100033,"[{'id': 548, 'name': 'countryside'}]","[{'id': 18, 'name': 'Drama'}]"
10004,"[{'id': 798, 'name': 'sheriff'}, {'id': 1197, ...","[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name..."
100042,"[{'id': 6054, 'name': 'friendship'}, {'id': 96...","[{'id': 35, 'name': 'Comedy'}]"
100046,"[{'id': 179430, 'name': 'aftercreditsstinger'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
10005,"[{'id': 3312, 'name': 'nuclear missile'}, {'id...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
10006,"[{'id': 378, 'name': 'prison'}, {'id': 1591, '...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
100063,"[{'id': 321, 'name': 'terror'}, {'id': 2583, '...","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
10007,"[{'id': 612, 'name': 'hotel'}, {'id': 4058, 'n...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam..."
10008,"[{'id': 616, 'name': 'witch'}, {'id': 10183, '...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam..."
100088,"[{'id': 10601, 'name': 'blaxploitation'}]","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
100089,"[{'id': 293, 'name': 'female nudity'}, {'id': ...","[{'id': 12, 'name': 'Adventure'}, {'id': 27, '..."
10009,"[{'id': 380, 'name': 'brother brother relation...","[{'id': 12, 'name': 'Adventure'}, {'id': 16, '..."
10010,"[{'id': 2522, 'name': 'grizzly bear'}, {'id': ...","[{'id': 12, 'name': 'Adventure'}, {'id': 16, '..."
10011,"[{'id': 293, 'name': 'female nudity'}, {'id': ...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam..."
100110,"[{'id': 387, 'name': 'california'}, {'id': 126...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
10012,"[{'id': 1155, 'name': 'brother sister relation...","[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam..."
10013,"[{'id': 4379, 'name': 'time travel'}, {'id': 1...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
10014,"[{'id': 237, 'name': 'gay'}, {'id': 246, 'name...","[{'id': 27, 'name': 'Horror'}]"
10015,"[{'id': 2999, 'name': 'recruit'}, {'id': 3776,...","[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam..."
100152,"[{'id': 187056, 'name': 'woman director'}]","[{'id': 35, 'name': 'Comedy'}]"
10016,"[{'id': 166686, 'name': 'climbing up a wall'},...","[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam..."
100167,"[{'id': 3688, 'name': 'strip club'}, {'id': 14...","[{'id': 18, 'name': 'Drama'}]"
...,...,...
99767,"[{'id': 2690, 'name': 'heart disease'}, {'id':...","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
9977,"[{'id': 1925, 'name': 'camera'}, {'id': 2020, ...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
99770,"[{'id': 255, 'name': 'male nudity'}, {'id': 30...","[{'id': 10751, 'name': 'Family'}, {'id': 12, '..."
9978,"[{'id': 392, 'name': 'england'}, {'id': 3272, ...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '..."
9980,"[{'id': 312, 'name': 'man vs machine'}, {'id':...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
9981,"[{'id': 494, 'name': 'father son relationship'...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
9982,"[{'id': 1357, 'name': 'fish'}, {'id': 1415, 'n...","[{'id': 16, 'name': 'Animation'}, {'id': 10751..."
99826,"[{'id': 9716, 'name': 'stand-up comedy'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
99846,"[{'id': 531, 'name': 'southern usa'}, {'id': 7...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
9986,"[{'id': 1701, 'name': 'hero'}, {'id': 3875, 'n...","[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '..."
99861,"[{'id': 8828, 'name': 'marvel comic'}, {'id': ...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
99863,"[{'id': 2481, 'name': 'eyesight'}, {'id': 1800...","[{'id': 18, 'name': 'Drama'}]"
9987,"[{'id': 2051, 'name': 'intelligence'}, {'id': ...","[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na..."
9988,"[{'id': 74, 'name': 'germany'}, {'id': 271, 'n...","[{'id': 35, 'name': 'Comedy'}]"
99883,"[{'id': 2564, 'name': 'wheelchair'}, {'id': 30...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
9989,"[{'id': 1576, 'name': 'technology'}, {'id': 21...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
9990,"[{'id': 5720, 'name': 'dallas'}]","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
99909,"[{'id': 14845, 'name': 'dead end kids'}]","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
9991,"[{'id': 378, 'name': 'prison'}, {'id': 6075, '...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
9992,"[{'id': 1158, 'name': 'grandfather grandson re...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
99920,"[{'id': 160063, 'name': 'nazi spy'}]","[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n..."
99922,"[{'id': 10400, 'name': 'airship'}, {'id': 1061...","[{'id': 12, 'name': 'Adventure'}, {'id': 18, '..."
9993,"[{'id': 974, 'name': 'bank'}, {'id': 2375, 'na...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
99934,"[{'id': 221064, 'name': 'united states naval a...","[{'id': 12, 'name': 'Adventure'}, {'id': 18, '..."
9994,"[{'id': 212, 'name': 'london england'}, {'id':...","[{'id': 35, 'name': 'Comedy'}, {'id': 16, 'nam..."
99946,"[{'id': 9016, 'name': 'femme fatale'}, {'id': ...","[{'id': 35, 'name': 'Comedy'}]"
9995,"[{'id': 641, 'name': 'single parent'}, {'id': ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
9997,"[{'id': 3648, 'name': 'archangel gabriel'}, {'...","[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na..."
99977,"[{'id': 6149, 'name': 'police'}, {'id': 7155, ...","[{'id': 35, 'name': 'Comedy'}]"
9999,"[{'id': 570, 'name': 'rape'}, {'id': 1591, 'na...","[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name..."

In [6]:
genres = ['Animation', 'Comedy', 'Family', 'Adventure', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'History', 'Science Fiction', 'Mystery', 'War', 'Foreign', 'Music', 'Documentary', 'Western', 'TV Movie', 'Carousel Productions', 'Vision View Entertainment', 'Telescene Film Group Productions', 'Aniplex', 'GoHands', 'BROSTA TV', 'Mardock Scramble Production Committee', 'Sentai Filmworks']

list_keywords = []
list_appearance_genres = []
list_appearance = []

for i in range(len(df_test)):#parcourir le dataframe -> len(df_test)
    list_genres = [0] * 28
    
    line_genres = ast.literal_eval(df_test.iloc[i]['genres'])#convert la ligne en dict
    long_line_genres = len(line_genres)
    
    for j in range(28):#parcourir les genres
        
        for k in range(long_line_genres):#voir s'ils correspondent au film
        
            if str(line_genres[k]['name']) == genres[j]:#si oui, on passe à 1
                list_genres[j] = 1
    
    line_keywords = ast.literal_eval(df_test.iloc[i]['keywords'])#convert la ligne en dict
    long_line_keywords = len(line_keywords)
    
    for j in range(long_line_keywords):#parcourir les keywords
        
        if str(line_keywords[j]['name']) in list_keywords:#voir s'il est déjà dans la lise des keywords
            
            ind = list_keywords.index(line_keywords[j]['name'])
            list_appearance[ind] += 1#incrementer son nombre d'appartion total
            
            for k in range(28):#incrementer son nombre d'apparition par genre
                
                list_appearance_genres[ind][k] += list_genres[k]
            
        else:
            
            list_keywords.append(str(line_keywords[j]['name']))
            list_appearance_genres.append(list(list_genres))
            list_appearance.append(1)

In [7]:
df_final = pd.DataFrame(list(zip(list_keywords, list_appearance_genres, list_appearance)), columns =['Keyword', 'AppearancePerGenre', 'AppearanceTotal'])

In [8]:
df_final

,Keyword,AppearancePerGenre,AppearanceTotal
0,ambush,"[1, 3, 1, 7, 2, 1, 11, 26, 8, 14, 1, 4, 1, 2, ...",34
1,alcohol,"[0, 50, 0, 3, 2, 24, 83, 5, 14, 17, 7, 1, 2, 9...",113
2,shotgun,"[1, 6, 0, 3, 1, 3, 11, 12, 10, 19, 12, 0, 4, 6...",31
3,tea,"[0, 2, 0, 0, 2, 5, 8, 1, 1, 1, 1, 0, 0, 1, 0, ...",11
4,joint,"[1, 9, 0, 0, 0, 0, 4, 0, 1, 0, 0, 0, 0, 0, 0, ...",11
5,machismo,"[0, 3, 0, 0, 0, 1, 3, 0, 1, 1, 0, 0, 0, 0, 0, ...",5
6,cocktail,"[0, 2, 0, 0, 0, 0, 2, 1, 3, 1, 0, 0, 0, 0, 0, ...",3
7,rifle,"[0, 1, 1, 3, 0, 3, 23, 10, 6, 11, 2, 1, 4, 1, ...",31
8,marijuana,"[1, 51, 0, 6, 0, 12, 46, 9, 16, 14, 16, 1, 0, ...",97
9,cockney accent,"[0, 1, 0, 0, 0, 0, 0, 0, 3, 2, 0, 0, 0, 0, 0, ...",3
10,pot smoking,"[0, 5, 0, 1, 0, 0, 3, 1, 2, 4, 5, 0, 0, 2, 0, ...",11
11,hatchet,"[0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, ...",2
12,antique,"[0, 2, 0, 1, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, ...",3
13,cardsharp,"[0, 2, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",2
14,anger,"[1, 7, 1, 0, 1, 4, 14, 2, 5, 7, 1, 0, 2, 3, 0,...",24
15,carjacking,"[0, 2, 0, 0, 0, 0, 1, 1, 2, 1, 0, 0, 0, 0, 0, ...",3
16,piano,"[1, 9, 1, 1, 4, 14, 19, 2, 2, 2, 0, 0, 1, 0, 0...",27
17,strip show,"[0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",1
18,high stakes,"[0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",1
19,roommate,"[0, 32, 2, 0, 0, 23, 38, 0, 1, 6, 5, 0, 1, 1, ...",58
20,pastor,"[0, 10, 1, 1, 3, 2, 16, 6, 4, 6, 2, 0, 1, 3, 0...",24
21,squatter,"[0, 3, 0, 0, 0, 2, 9, 1, 0, 4, 0, 0, 0, 0, 0, ...",9
22,anarchist,"[0, 4, 0, 1, 0, 3, 14, 3, 2, 4, 0, 4, 0, 0, 1,...",20
23,house,"[2, 18, 7, 3, 5, 4, 21, 1, 2, 15, 22, 0, 1, 10...",52
24,bogotá,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
25,lawyer,"[0, 59, 6, 7, 3, 35, 118, 15, 47, 53, 5, 9, 0,...",168
26,revolutionary,"[0, 2, 0, 2, 0, 3, 8, 5, 2, 4, 0, 2, 0, 0, 1, ...",14
27,atomic bomb,"[1, 5, 0, 6, 1, 4, 17, 10, 1, 11, 2, 4, 12, 1,...",34
28,nobel prize,"[0, 2, 0, 0, 0, 1, 3, 0, 2, 1, 0, 0, 1, 1, 0, ...",4
29,rock,"[1, 17, 1, 2, 0, 2, 12, 2, 0, 0, 2, 0, 2, 0, 0...",44
...,...,...,...
19904,trial marriage,"[0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19905,homerun,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19906,lady in waiting,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",1
19907,fashion design,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",1
19908,large jewel,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",1
19909,dead rat,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",1
19910,queen of france,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",1
19911,green dress,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",1
19912,south sea island,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...",1
19913,swine,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...",1
19914,asthmatic,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...",1
19915,aeronautics,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...",1
19916,head ripped off,"[0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, ...",1
19917,knife through the neck,"[0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, ...",1
19918,arm blown off,"[0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, ...",1
19919,testosterone,"[0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, ...",1
19920,split head,"[0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, ...",1
19921,anchorman,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19922,sunflower,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, ...",1
19923,irrational behavior,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19924,societal hypocrisy,"[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, ...",1
19925,apparats and technics,"[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, ...",1
19926,desk,"[0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19927,raincoat,"[0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19928,oktoberfest,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19929,united states naval academy,"[0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19930,stage manager,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19931,understudy,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19932,traveling show,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
19933,theater audience,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1

In [9]:
list_genres = [0] * 28