In [1]:
import pandas as pd
import numpy as np
import ast

df_keywords = pd.read_csv("./keywords.csv")
df_movies_metadata = pd.read_csv("./movies_metadata.csv")

D:\Programmes\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df_keywords = df_keywords[df_keywords.astype(str)['keywords'] != '[]']
df_keywords = df_keywords.set_index('id')
df_keywords

                                                 keywords
id
862     [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
8844    [{'id': 10090, 'name': 'board game'}, {'id': 1...
15602   [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
31357   [{'id': 818, 'name': 'based on novel'}, {'id':...
11862   [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
949     [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
11860   [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
9091    [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
710     [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...
9087    [{'id': 833, 'name': 'white house'}, {'id': 84...
12110   [{'id': 3633, 'name': 'dracula'}, {'id': 11931...
21032   [{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...
10858   [{'id': 840, 'name': 'usa president'}, {'id': ...
1408    [{'id': 911, 'name': 'exotic island'}, {'id': ...
524     [{'id': 383, 'name': 'poker'}, {'id': 726, 'na...
4584    [{'id': 420, 'name': 'bowling'}, {'id': 818, '...
5       [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
9273    [{'id': 409, 'name': 'africa'}, {'id': 1551, '...
11517   [{'id': 380, 'name': 'brother brother relation...
8012    [{'id': 395, 'name': 'gambling'}, {'id': 416, ...
1710    [{'id': 796, 'name': 'police brutality'}, {'id...
9691    [{'id': 271, 'name': 'competition'}, {'id': 44...
12665   [{'id': 7345, 'name': 'dead animal'}, {'id': 1...
451     [{'id': 30, 'name': 'individual'}, {'id': 549,...
16420   [{'id': 497, 'name': 'shakespeare'}, {'id': 93...
9263    [{'id': 1228, 'name': '1970s'}, {'id': 5248, '...
17015   [{'id': 1316, 'name': 'captain'}, {'id': 33384...
902     [{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...
37557   [{'id': 964, 'name': 'servant'}, {'id': 2311, ...
9909    [{'id': 897, 'name': 'rap music'}, {'id': 3436...
...                                                   ...
64197          [{'id': 187056, 'name': 'woman director'}]
100152         [{'id': 187056, 'name': 'woman director'}]
75608   [{'id': 2167, 'name': 'ethologist'}, {'id': 19...
275331  [{'id': 409, 'name': 'africa'}, {'id': 18034, ...
461297  [{'id': 9663, 'name': 'sequel'}, {'id': 156321...
258907  [{'id': 14629, 'name': 'experimental film'}, {...
127762            [{'id': 154802, 'name': 'silent film'}]
52103         [{'id': 10183, 'name': 'independent film'}]
45029   [{'id': 720, 'name': 'helicopter'}, {'id': 146...
36680   [{'id': 310, 'name': 'artificial intelligence'...
222872  [{'id': 1612, 'name': 'spacecraft'}, {'id': 99...
5589    [{'id': 3205, 'name': 'fairy tale'}, {'id': 13...
455661  [{'id': 9673, 'name': 'love'}, {'id': 13130, '...
327237  [{'id': 5565, 'name': 'biography'}, {'id': 102...
84710            [{'id': 208422, 'name': 'paula dupree'}]
39562   [{'id': 2064, 'name': 'overweight'}, {'id': 10...
14008         [{'id': 171803, 'name': 'military school'}]
44330             [{'id': 169590, 'name': 'police raid'}]
49279   [{'id': 10124, 'name': 'laboratory'}, {'id': 1...
44333   [{'id': 2343, 'name': 'magic'}, {'id': 154802,...
49277   [{'id': 154802, 'name': 'silent film'}, {'id':...
49271   [{'id': 11320, 'name': 'tenant'}, {'id': 15480...
14885   [{'id': 3335, 'name': 'halloween'}, {'id': 193...
106807  [{'id': 5970, 'name': 'wrestling'}, {'id': 607...
404604  [{'id': 155794, 'name': 'physical abuse'}, {'i...
84419   [{'id': 9748, 'name': 'revenge'}, {'id': 9826,...
390959            [{'id': 224180, 'name': 'blair witch'}]
289923  [{'id': 616, 'name': 'witch'}, {'id': 2035, 'n...
439050             [{'id': 10703, 'name': 'tragic love'}]
111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...

[31624 rows x 1 columns]

In [3]:
df_genres = pd.concat([df_movies_metadata['id'],df_movies_metadata['genres']], axis = 1)
df_genres = df_genres[df_genres.astype(str)['genres'] != "[]"]
df_genres = df_genres.set_index('id')
df_genres

                                                   genres
id
862     [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
8844    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
15602   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
31357   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11862                      [{'id': 35, 'name': 'Comedy'}]
949     [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
11860   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
45325   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9091    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
710     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
9087    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
12110   [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
21032   [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
10858   [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
1408    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
524     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
4584    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
5       [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
9273    [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
11517   [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
8012    [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
1710    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
9691    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
12665   [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
451     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
16420                       [{'id': 18, 'name': 'Drama'}]
9263    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
17015   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
902     [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
37557   [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
...                                                   ...
36680   [{'id': 99, 'name': 'Documentary'}, {'id': 878...
222872  [{'id': 53, 'name': 'Thriller'}, {'id': 878, '...
257472                [{'id': 99, 'name': 'Documentary'}]
323132                [{'id': 99, 'name': 'Documentary'}]
5589    [{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...
63266   [{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...
45527   [{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...
455661  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
327237                      [{'id': 18, 'name': 'Drama'}]
84710   [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
39562   [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
14008                      [{'id': 35, 'name': 'Comedy'}]
49279   [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
44333                     [{'id': 14, 'name': 'Fantasy'}]
49277   [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
49271   [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
14885   [{'id': 16, 'name': 'Animation'}, {'id': 10751...
49280   [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
106807  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
276895                [{'id': 99, 'name': 'Documentary'}]
404604  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
420346  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
84419   [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
390959  [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
289923                     [{'id': 27, 'name': 'Horror'}]
222848           [{'id': 878, 'name': 'Science Fiction'}]
30840   [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
439050  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
111109                      [{'id': 18, 'name': 'Drama'}]
67758   [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...

[43024 rows x 1 columns]

In [4]:
df_keywords.index = df_keywords.index.map(str)
df_genres.index = df_genres.index.map(str)
df_test = pd.merge(df_keywords, df_genres, left_index=True, right_index=True)

In [5]:
df_test.index = df_test.index.map(int)
df_test.sort_index()

,keywords,genres
id,,
2,"[{'id': 240, 'name': 'underdog'}, {'id': 378, ...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
3,"[{'id': 1361, 'name': 'salesclerk'}, {'id': 17...","[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name..."
5,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...","[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
6,"[{'id': 520, 'name': 'chicago'}, {'id': 2231, ...","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
11,"[{'id': 803, 'name': 'android'}, {'id': 4270, ...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '..."
12,"[{'id': 494, 'name': 'father son relationship'...","[{'id': 16, 'name': 'Animation'}, {'id': 10751..."
13,"[{'id': 422, 'name': 'vietnam veteran'}, {'id'...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
14,"[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'id': 18, 'name': 'Drama'}]"
15,"[{'id': 736, 'name': 'journalist'}, {'id': 918...","[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '..."
16,"[{'id': 30, 'name': 'individual'}, {'id': 246,...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
17,"[{'id': 236, 'name': 'suicide'}, {'id': 439, '...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam..."
18,"[{'id': 402, 'name': 'clone'}, {'id': 444, 'na...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
19,"[{'id': 312, 'name': 'man vs machine'}, {'id':...","[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam..."
20,"[{'id': 455, 'name': 'farewell'}, {'id': 457, ...","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
21,"[{'id': 1524, 'name': 'surfer'}, {'id': 1671, ...","[{'id': 99, 'name': 'Documentary'}]"
22,"[{'id': 911, 'name': 'exotic island'}, {'id': ...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
24,"[{'id': 233, 'name': 'japan'}, {'id': 732, 'na...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
25,"[{'id': 1589, 'name': 'sniper'}, {'id': 4405, ...","[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n..."
26,"[{'id': 220, 'name': 'berlin'}, {'id': 376, 'n...","[{'id': 18, 'name': 'Drama'}]"
27,"[{'id': 212, 'name': 'london england'}, {'id':...","[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n..."
28,"[{'id': 1008, 'name': 'guerrilla'}, {'id': 126...","[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n..."
30,"[{'id': 1826, 'name': 'space marine'}, {'id': ...","[{'id': 16, 'name': 'Animation'}, {'id': 878, ..."
33,"[{'id': 549, 'name': 'prostitute'}, {'id': 798...","[{'id': 37, 'name': 'Western'}]"
35,"[{'id': 494, 'name': 'father son relationship'...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
38,"[{'id': 563, 'name': 'deja vu'}, {'id': 802, '...","[{'id': 878, 'name': 'Science Fiction'}, {'id'..."
55,"[{'id': 960, 'name': 'homeless person'}, {'id'...","[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name..."
58,"[{'id': 616, 'name': 'witch'}, {'id': 663, 'na...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
59,"[{'id': 642, 'name': 'robbery'}, {'id': 848, '...","[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name..."
62,"[{'id': 305, 'name': 'moon'}, {'id': 306, 'nam...","[{'id': 878, 'name': 'Science Fiction'}, {'id'..."
63,"[{'id': 222, 'name': 'schizophrenia'}, {'id': ...","[{'id': 878, 'name': 'Science Fiction'}, {'id'..."
...,...,...
455968,"[{'id': 5626, 'name': 'from rags to riches'}, ...","[{'id': 99, 'name': 'Documentary'}]"
456101,"[{'id': 3133, 'name': 'vampire'}, {'id': 16222...","[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name..."
456193,"[{'id': 9716, 'name': 'stand-up comedy'}]","[{'id': 35, 'name': 'Comedy'}]"
456348,"[{'id': 230775, 'name': 'batman'}]","[{'id': 99, 'name': 'Documentary'}]"
456781,"[{'id': 801, 'name': 'bounty hunter'}, {'id': ...","[{'id': 28, 'name': 'Action'}]"
457307,"[{'id': 235253, 'name': 'Расследование'}]","[{'id': 9648, 'name': 'Mystery'}, {'id': 99, '..."
458298,"[{'id': 11162, 'name': 'miniseries'}]","[{'id': 80, 'name': 'Crime'}, {'id': 99, 'name..."
458310,"[{'id': 3321, 'name': 'childhood memory'}, {'i...","[{'id': 35, 'name': 'Comedy'}]"
458506,"[{'id': 3524, 'name': 'doping'}, {'id': 11800,...","[{'id': 35, 'name': 'Comedy'}, {'id': 10770, '..."
458618,"[{'id': 6078, 'name': 'politics'}, {'id': 1530...","[{'id': 99, 'name': 'Documentary'}, {'id': 107..."
458961,"[{'id': 886, 'name': 'film making'}]","[{'id': 99, 'name': 'Documentary'}]"
459295,"[{'id': 9716, 'name': 'stand-up comedy'}]","[{'id': 35, 'name': 'Comedy'}]"
459802,"[{'id': 8201, 'name': 'satire'}, {'id': 214549...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
459928,"[{'id': 1156, 'name': 'sister sister relations...","[{'id': 53, 'name': 'Thriller'}]"
459950,"[{'id': 15016, 'name': 'twins'}, {'id': 166262...","[{'id': 18, 'name': 'Drama'}]"
460135,"[{'id': 9715, 'name': 'superhero'}, {'id': 210...","[{'id': 16, 'name': 'Animation'}]"
460822,"[{'id': 156028, 'name': 'broadway'}]","[{'id': 35, 'name': 'Comedy'}]"
460870,"[{'id': 41594, 'name': 'electricity'}, {'id': ...","[{'id': 99, 'name': 'Documentary'}]"
461053,"[{'id': 1470, 'name': 's.w.a.t.'}]","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
461297,"[{'id': 9663, 'name': 'sequel'}, {'id': 156321...","[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
461533,"[{'id': 50244, 'name': 'making of'}]","[{'id': 99, 'name': 'Documentary'}]"
461634,"[{'id': 9716, 'name': 'stand-up comedy'}]","[{'id': 35, 'name': 'Comedy'}]"
461955,"[{'id': 161195, 'name': 'digital film'}, {'id'...","[{'id': 28, 'name': 'Action'}, {'id': 878, 'na..."
462108,"[{'id': 9716, 'name': 'stand-up comedy'}]","[{'id': 35, 'name': 'Comedy'}]"
462788,"[{'id': 10181, 'name': 'based on play or music...","[{'id': 10770, 'name': 'TV Movie'}, {'id': 18,..."
463800,"[{'id': 2957, 'name': 'vietnam war'}, {'id': 2...","[{'id': 28, 'name': 'Action'}, {'id': 878, 'na..."
463906,"[{'id': 186946, 'name': 'the saint'}]","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
464207,"[{'id': 18330, 'name': 'nature'}, {'id': 15681...","[{'id': 99, 'name': 'Documentary'}]"
464819,"[{'id': 50244, 'name': 'making of'}]","[{'id': 99, 'name': 'Documentary'}]"
468707,"[{'id': 2486, 'name': 'fantasy'}, {'id': 14751...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."

In [6]:
genres = ['Animation', 'Comedy', 'Family', 'Adventure', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'History', 'Science Fiction', 'Mystery', 'War', 'Foreign', 'Music', 'Documentary', 'Western', 'TV Movie']

list_keywords = []
list_appearance_genres = []
list_appearance = []

liste_nb_films = []
liste_nb_mots = []

for i in range(len(df_test)):#parcourir le dataframe -> len(df_test)
    
    list_genres = [0 for zero in range(20)]
    
    line_genres = ast.literal_eval(df_test.iloc[i]['genres'])#convert la ligne en dict
    long_line_genres = len(line_genres)
    
    for j in range(20):#parcourir les genres
        
        for k in range(long_line_genres):#voir s'ils correspondent au film
            
            if str(line_genres[k]['name']) == genres[j]:#si oui, on passe à 1
                list_genres[j] = 1
    
    line_keywords = ast.literal_eval(df_test.iloc[i]['keywords'])#convert la ligne en dict
    long_line_keywords = len(line_keywords)
    
    for j in range(long_line_keywords):#parcourir les keywords

        if str(line_keywords[j]['name']) in list_keywords:#voir s'il est déjà dans la lise des keywords
            ind = list_keywords.index(line_keywords[j]['name'])
            list_appearance[ind] += 1#incrementer son nombre d'appartion total
            
            for k in range(20):#incrementer son nombre d'apparition par genre
                list_appearance_genres[ind][k] += list_genres[k]
        else:
            list_keywords.append(str(line_keywords[j]['name']))
            list_appearance_genres.append(list(list_genres))
            list_appearance.append(1)

In [7]:
df_final = pd.DataFrame(zip(list_keywords, list_appearance_genres, list_appearance), columns =['Keyword', 'AppearancePerGenre', 'AppearanceTotal'])

In [8]:
df_final.sort_values(by=['AppearanceTotal'],ascending=False, inplace=True)

,Keyword,AppearancePerGenre,AppearanceTotal
43,woman director,"[82, 810, 182, 84, 91, 609, 1638, 105, 100, 24...",2918
82,independent film,"[9, 746, 35, 81, 44, 426, 1272, 179, 180, 336,...",1931
78,murder,"[7, 175, 5, 51, 34, 96, 586, 211, 439, 691, 45...",1308
784,based on novel,"[36, 163, 84, 103, 100, 180, 557, 91, 100, 202...",835
204,musical,"[72, 377, 129, 52, 63, 272, 267, 33, 12, 8, 17...",728
156,sex,"[12, 255, 1, 21, 31, 219, 422, 54, 71, 161, 10...",684
171,violence,"[14, 73, 2, 51, 21, 37, 299, 208, 181, 323, 23...",651
161,nudity,"[4, 169, 0, 27, 22, 133, 333, 78, 79, 211, 208...",635
407,biography,"[4, 51, 13, 22, 4, 69, 483, 31, 51, 32, 5, 131...",630
166,revenge,"[11, 74, 8, 69, 24, 55, 284, 242, 165, 283, 14...",625
501,suspense,"[1, 28, 1, 31, 10, 41, 350, 108, 193, 423, 136...",589
314,love,"[19, 219, 21, 14, 41, 370, 420, 31, 37, 53, 15...",574
87,female nudity,"[7, 176, 0, 33, 23, 90, 250, 78, 69, 161, 188,...",565
701,sport,"[6, 218, 65, 31, 7, 70, 300, 67, 16, 13, 0, 21...",539
163,police,"[4, 123, 7, 24, 4, 38, 220, 162, 226, 223, 59,...",456
65,sequel,"[36, 119, 56, 116, 59, 26, 93, 166, 44, 117, 1...",441
197,teenager,"[8, 191, 64, 27, 31, 104, 242, 33, 31, 75, 81,...",441
98,duringcreditsstinger,"[52, 266, 89, 92, 48, 70, 91, 106, 46, 63, 32,...",439
64,friendship,"[43, 179, 56, 47, 30, 93, 276, 35, 40, 39, 13,...",411
549,world war ii,"[10, 43, 8, 40, 5, 51, 292, 92, 4, 42, 7, 118,...",394
152,drug,"[6, 107, 2, 15, 6, 30, 218, 69, 117, 119, 38, ...",360
898,stand-up comedy,"[1, 346, 1, 0, 0, 0, 4, 0, 1, 1, 0, 0, 0, 0, 0...",350
72,prison,"[5, 76, 9, 20, 3, 34, 224, 84, 139, 97, 14, 11...",350
128,high school,"[10, 166, 40, 8, 19, 68, 144, 25, 13, 58, 61, ...",317
272,martial arts,"[21, 63, 11, 62, 18, 12, 82, 293, 51, 78, 16, ...",313
281,suicide,"[1, 62, 0, 10, 12, 53, 219, 22, 29, 95, 78, 10...",312
380,kidnapping,"[4, 61, 11, 34, 9, 24, 128, 99, 104, 160, 55, ...",306
405,rape,"[0, 25, 1, 12, 6, 19, 198, 38, 83, 117, 82, 15...",305
3759,film noir,"[0, 5, 0, 6, 2, 33, 227, 17, 168, 141, 8, 0, 0...",302
259,silent film,"[17, 94, 3, 17, 45, 49, 141, 16, 20, 7, 28, 10...",295
...,...,...,...
12603,reference to socrates,"[0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12604,reference to plato,"[0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12605,extreme pain,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
12609,watching movie,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",1
12590,candelabrum,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...",1
12611,radio psychologist,"[0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, ...",1
12612,thuggee uprising,"[0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, ...",1
12613,oceanic expedition,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12615,iranian american,"[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12616,rocky relationship,"[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12617,persian american,"[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12591,rave culture,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12589,riedrich schiller,"[0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",1
12560,john candy,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12572,tuba player,"[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12563,stake,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",1
12564,battle axe,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",1
12565,chained to a wall,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",1
12566,dairy,"[0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
1614,gun smuggling,"[0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...",1
1613,tripping and falling,"[0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...",1
12573,lightning rod,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, ...",1
12588,group of girls,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
12576,tent camp,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...",1
12580,tribal people,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12581,widowed mother,"[0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12584,sexy,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12585,robespierre,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
12586,founding fathers,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",1
19933,theater audience,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1

In [9]:
df_final = df_final[df_final['AppearanceTotal'] > 1]
df_final

,Keyword,AppearancePerGenre,AppearanceTotal
43,woman director,"[82, 810, 182, 84, 91, 609, 1638, 105, 100, 24...",2918
82,independent film,"[9, 746, 35, 81, 44, 426, 1272, 179, 180, 336,...",1931
78,murder,"[7, 175, 5, 51, 34, 96, 586, 211, 439, 691, 45...",1308
784,based on novel,"[36, 163, 84, 103, 100, 180, 557, 91, 100, 202...",835
204,musical,"[72, 377, 129, 52, 63, 272, 267, 33, 12, 8, 17...",728
156,sex,"[12, 255, 1, 21, 31, 219, 422, 54, 71, 161, 10...",684
171,violence,"[14, 73, 2, 51, 21, 37, 299, 208, 181, 323, 23...",651
161,nudity,"[4, 169, 0, 27, 22, 133, 333, 78, 79, 211, 208...",635
407,biography,"[4, 51, 13, 22, 4, 69, 483, 31, 51, 32, 5, 131...",630
166,revenge,"[11, 74, 8, 69, 24, 55, 284, 242, 165, 283, 14...",625
501,suspense,"[1, 28, 1, 31, 10, 41, 350, 108, 193, 423, 136...",589
314,love,"[19, 219, 21, 14, 41, 370, 420, 31, 37, 53, 15...",574
87,female nudity,"[7, 176, 0, 33, 23, 90, 250, 78, 69, 161, 188,...",565
701,sport,"[6, 218, 65, 31, 7, 70, 300, 67, 16, 13, 0, 21...",539
163,police,"[4, 123, 7, 24, 4, 38, 220, 162, 226, 223, 59,...",456
65,sequel,"[36, 119, 56, 116, 59, 26, 93, 166, 44, 117, 1...",441
197,teenager,"[8, 191, 64, 27, 31, 104, 242, 33, 31, 75, 81,...",441
98,duringcreditsstinger,"[52, 266, 89, 92, 48, 70, 91, 106, 46, 63, 32,...",439
64,friendship,"[43, 179, 56, 47, 30, 93, 276, 35, 40, 39, 13,...",411
549,world war ii,"[10, 43, 8, 40, 5, 51, 292, 92, 4, 42, 7, 118,...",394
152,drug,"[6, 107, 2, 15, 6, 30, 218, 69, 117, 119, 38, ...",360
898,stand-up comedy,"[1, 346, 1, 0, 0, 0, 4, 0, 1, 1, 0, 0, 0, 0, 0...",350
72,prison,"[5, 76, 9, 20, 3, 34, 224, 84, 139, 97, 14, 11...",350
128,high school,"[10, 166, 40, 8, 19, 68, 144, 25, 13, 58, 61, ...",317
272,martial arts,"[21, 63, 11, 62, 18, 12, 82, 293, 51, 78, 16, ...",313
281,suicide,"[1, 62, 0, 10, 12, 53, 219, 22, 29, 95, 78, 10...",312
380,kidnapping,"[4, 61, 11, 34, 9, 24, 128, 99, 104, 160, 55, ...",306
405,rape,"[0, 25, 1, 12, 6, 19, 198, 38, 83, 117, 82, 15...",305
3759,film noir,"[0, 5, 0, 6, 2, 33, 227, 17, 168, 141, 8, 0, 0...",302
259,silent film,"[17, 94, 3, 17, 45, 49, 141, 16, 20, 7, 28, 10...",295
...,...,...,...
8536,production,"[0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, ...",2
8636,the new world,"[0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, ...",2
8635,discovery of america,"[0, 0, 0, 2, 0, 0, 1, 1, 0, 0, 0, 2, 0, 0, 0, ...",2
18353,trucking,"[0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",2
14127,revolving door,"[0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
4315,virility,"[0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",2
8492,summer school,"[0, 2, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
15864,roadmovie,"[0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
15848,badger,"[1, 1, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
15889,the lone ranger,"[0, 0, 0, 2, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, ...",2
14188,political scandal,"[0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
15834,horse trainer,"[0, 0, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
9625,walking cane,"[0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, ...",2
18876,aircraft carrier,"[0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 1, ...",2
13749,female villain,"[0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 2, 0, 0, ...",2
9646,leper colony,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
8641,nfl,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
9647,biochemist,"[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, ...",2
18824,san fernando valley,"[0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
8541,salsa,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",2
3566,cash,"[0, 1, 0, 1, 0, 0, 1, 1, 2, 1, 0, 0, 0, 1, 0, ...",2
8417,vending machine,"[0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...",2
3552,vortex,"[1, 2, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...",2
9649,rollerblades,"[0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",2
789,alliance,"[0, 0, 0, 2, 1, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, ...",2
15893,ward,"[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...",2
9561,sound,"[1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
9550,madame,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
3490,synchronized swimming,"[0, 1, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
15851,drunkeness,"[0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, ...",2